
@import url(https://fonts.googleapis.com/css?family=Lato|Oswald);
* {
	box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
	font-family: 'Oswald', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}

.header {
    overflow: hidden;
    top: 0; 
    width: 100%;
    visibility: hidden;
    z-index: 9999;

    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 0 0 5px 5px;
    
    transition: all 0.2s ease-out;
}
.header.transparent:not(.mobile-open) {
    background-color: #00000000;
    border-color: #00000000;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.0);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.0);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.0);
}
.header.transparent:not(.mobile-open) a {
    color: white;
}
.header.fixed {
    position: fixed;
    visibility: visible;
}
.header #hamburger {
    /* float: right; */
    position: absolute;
    right: 5px;
    margin-right: .5em;
    scale: 75%;
}
.header img {
    height: 70px;
    width: auto;
    margin-left: 10px;
}
.header.transparent:not(.mobile-open) img {
    filter: brightness(0) invert(1);
}
.main-nav {
	margin-top: 5px;
}
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;   
}

.main-nav a {
    display: inline-block;
	color: #34495e;
	font-size: .99em;
    height: 100%;
}

.main-nav a:hover {
	color: #da291c;
}




.wesprzyj a {
    color: white;
}
.wesprzyj {
    background-color: #da291c;
}

.wesprzyj a:hover {
    color: white;
}

#onas {
    background: linear-gradient(#00000080, #00000080), url(background-image.jpg); /* Ścieżka do obrazka */
    background-size: cover; /* Dopasowanie obrazka do wielkości tła */
    background-position: center; /* Pozycja obrazka na tle */
    background-attachment: fixed;
    color: #fff; /* Kolor tekstu */
    padding: 20px; /* Wewnętrzny margines dla tekstu */  
    vertical-align: middle;
    text-align: center;
    height: fit-content;
    min-height: max(110vh, 900px);
    display: flex;
    justify-content: center;
    align-items: center;
}
#onas div {
    overflow: hidden;
    /* transform: translateY(calc(var(--window-scroll-y) * 0.25)); */
}

#onas h1 {
    font-size: clamp(28px, 4vw,62px);
    text-transform: uppercase;
    color: #fff;
    line-height: 1.09;
    letter-spacing: -1.6px;
    margin: 10px;
}


#onas p {
    /* margin-right: 300px;
    margin-left: 300px; */
    margin: 0 clamp(10px, 10%, 400px);
    font-family: 'Lato', sans-serif;
    font-size: clamp(17.5px, 5vw, 22px);
}

#onas button {
    background-color: #da291c;
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 0);
    height: 65px;
    width: 200px;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 17pt;
    margin-bottom: 40px;
    transition: 0.15s cubic-bezier(0.075, 0.82, 0.165, 1) all,
                0.95s cubic-bezier(0.075, 0.82, 0.165, 1) letter-spacing;
    cursor: pointer;
    box-shadow: 0 0 15px 0 #00000080;
}
#onas button:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 15px 0 #000000a0,
                15px 0px 10px -9px #ff4b42,
                -15px 0px 10px -9px #ff4b42,
                30px 0px 30px -3px #ff2f20bf,
                -30px 0px 30px -3px #ff2f20bf;
    letter-spacing: 4px;
}

main {
    padding: 0 clamp(1em, 5vw, 30em);
    margin-top: -2.5em;
    border-radius: 2.5em 2.5em 0 0;
    z-index: 200;
    border-top: 2.5em solid white;
}
section {
    scroll-margin-top: 88px;
}

#Odkryj {
    padding-top: 4em;
    font-family: 'Lato', sans-serif;
}
#Odkryj > div {
    display: flex;
    gap: 4em;
    padding: 2em;
    font-size: 16pt;
}
#Odkryj > div:nth-child(2n) {
    flex-direction: row-reverse;
}
#Odkryj > div > div {
    width: 50%;
}
#Odkryj img {
    object-fit: cover;
    width: 100%;
    border-radius: 1em;
}

#Turystyka {
    text-align: center;
    width: max(50%, 300px);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#Turystyka::before {
    position: absolute;
    z-index: -1;
    content: url("Plama.svg");
    left: -90%;
    transform: scaleY(-1);
}

#Turystyka p {
    font-family: 'Lato', sans-serif;
    font-size: 16pt;
}

#Turystyka h2 {
    font-size: 42px;
    text-transform: uppercase;
}

#Turystyka button {
    background-color: #da291c;
    border-radius: 4px;
    border-color: transparent;
    height: 55px;
    width: 220px;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: large;
}
#Turystyka button a {
    text-decoration: none;
    color: white;
}

#Turystyka button:hover {
    color: white;
    background-color: #971f1779;
}

details summary {
    cursor: pointer;
    background-color: rgb(225, 225, 225);
    font-size: 16pt;
    border-radius: 1em;
}
details[open] summary {
    border-radius: 1em 1em 0 0;
}
details {
    background-color: rgb(244, 244, 244);
    border-radius: 1em;
}
details p {
    display: block;
    padding: 1em;
}

.bogata-historia {
    background: linear-gradient(#00000080, #00000080), url(bogata.jpg); 
}

.liderzy{
    background: linear-gradient(#00000080, #00000080), url(lekkoatletyka.jpg); 
}

.Inne {
    background: linear-gradient(#00000080, #00000080), url(siata.jpg); 
}

.Wyzwania {
    background: linear-gradient(#00000080, #00000080), url(tenis.jpg); 
}

#Sport {
    position: relative;
    font-size: 16pt;
    z-index: 50;
}
#Sport::before {
    position: absolute;
    content: url("Plama.svg");
    right: 0;
    z-index: -100;
    transform: scaleX(-1);
}
#Sport .flex {
    display: flex;
    gap: 1em;
    overflow-x: scroll;
    width: calc(100vw - 10px);
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 0 2em;
    transition: 0.25s ease-in-out;
}

#Sport div div {
    justify-content: space-between;
    border-radius: 1em;
    padding: 1em;
    position: relative;
    width: 600px;
    height: 600px;
    transition: ease-in-out 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Sport div div h3 {
    color: white;
    font-size: 24pt;
    text-align: center;
}
#Sport div div p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.75);
    padding: 4px 8px;
    color: rgb(0, 0, 0);
    margin: 0;
    width: auto;
    font-size: 20px;
    visibility: collapse;
}
#Sport div div.expanded p {
    visibility: visible;
}
#Sport div div.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    box-shadow: 0 0 25px 0px #00000080;
}

.Wyzwania, .Inne, .liderzy, .bogata-historia {
    /* margin-bottom: 2%;  */
    width: 600px;
    height: 600px;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
}

#Sport h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 16px;
}

#Sport p {
    font-family: 'Lato';
    width: auto;
}

#Sport h2 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 40px;
}

#Sport > div {
    color: white;
}
.item {
border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  background-color: #fff;
  display: inline-block;
  min-width: 360px;
}
.item img {
    float: left;
    margin-right: 25px;
    vertical-align: middle;
}
h6 {
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
    float: left;
}
h6 span {
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
}


#kontakt .item{
    margin-bottom: 30px;
    margin-left: 150px;
}

#zrealizowane-projekty {
  padding: 40px 0;
}

.gallery-header {
  text-align: center;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: calc(33.33% - 20px);
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  position: relative;
}

.project img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.project h3 {
  margin-top: 10px;
  font-size: 24px;
}

.project p {
  font-size: 16px;
  margin: 10px 0;
}

.project a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #da291c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.project a:hover {
  background-color: #971f17;
}

.read-more-button {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  background-color: #da291c;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: bold;
  max-width: 400px;
  margin: auto;
  width: 100%;
}

.read-more-button:hover {
  background-color: #971f17;
}

* {
    box-sizing: border-box;
  }
  
  .wrapper {
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.8;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
  }
  
  .cta {
      display: flex;
      padding: 10px 45px;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: clamp(25px, 9vw, 40px);
      color: white;
      background: #da291c;
      transition: 1s;
      box-shadow: 6px 6px 0 #00000087;
      transform: skewX(-15deg);
      border-radius: 10px;
  }
  
  .cta:focus {
     outline: none; 
  }
  
  .cta:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 #fcadad;
  }
  
  .cta span:nth-child(2) {
      transition: 0.5s;
      margin-right: 0px;
  }
  
  .cta:hover  span:nth-child(2) {
      transition: 0.5s;
      margin-right: 45px;
  }
  
    span {
      transform: skewX(15deg) 
    }
  
    span:nth-child(2) {
      width: clamp(0px, calc(6vw - 20px), 20px);
      margin-left: 30px;
      position: relative;
      top: 12%;
      /* scale: min(calc(5vw * 0.001), 1); */
    }

    .cta svg {
        aspect-ratio: 1/1;
        width: clamp(30px, 6.5vw, 66px);
    }
    
  /**************SVG****************/
  
  path.one {
      transition: 0.4s;
      transform: translateX(-60%);
  }
  
  path.two {
      transition: 0.5s;
      transform: translateX(-30%);
  }
  
  .cta:hover path.three {
      animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover path.one {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover path.two {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  
  @keyframes color_anim {
      0% {
          fill: white;
      }
      50% {
          fill: #fcadad;
      }
      100% {
          fill: white;
      }
  }

  .wesprzyj {
    text-decoration: none;
    text-align: center;
    transition: all .5s ease; 
    color: #fff;
    padding-right: 0;
    background-color: #c0392b;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%);
    border-radius: 3px 0px 0px 3px;
      
}
.wesprzyj:hover { 
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);  
    background-color: #9e2b23;
  }

.wesprzyj:after {
    content:  '<3';
    color: #e99e95;
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    right: -55px;
    transition: all 0.2s ease;
  }
  
.wesprzyj:hover:after {
    margin: -5px 15px;
    right: 0px;
  }

button {
    cursor:pointer;
}

/*#zrealizowane-projekty::before {
    max-width: 100%;
    position: absolute;
    content: url("Plama2.svg");
    right: 32%;
    z-index: -1;
    transform: scaleX(-2);
    margin-top: 650px;
}

*/

footer .falaa {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;

}

footer .falaa#fala1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .falaa#fala2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_2 4s linear infinite;
}

footer .falaa#fala3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .falaa#fala4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_2 3s linear infinite;
}



@keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave_2{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}                                                      
#kontakt {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    min-height: 100px;
    margin-top: 15%;
  }
  
  .footer-distributed{
    background: rgb(255, 218, 218);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    min-height: 100px;
    position: relative;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }

  .footer-distributed .footer-left img {
    width: 40%;
  }
  

  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight: 500;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  rgba(52, 73, 94, 0.671);
    font-size: 14px;
    font-weight: lighter;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
    display: inline-block;
  }
  
  .footer-distributed .footer-center img{
    width: 38px;
    height: 38px;
  }

  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:600;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:15px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  #34495e;
    text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  rgba(52, 73, 94, 0.548);
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 20px;
    font-style: none;
    transform: skewX(0deg);
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons img{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  

  
  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }
  
/* ================================= 
  Media Queries
==================================== */



@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
	    }
        
        #hamburger {
            visibility: collapse;
        }
	}

}
@media (max-width: 769px) {
    .header {
        clip-path: inset(0 0 280px 0);

    }
    .mobile-open {
        clip-path: inset(0 0 0px 0);
    }
    #Odkryj > div {
        display: block;
    }
    #Odkryj > div > div {
        width: auto;
    }
    /* #onas h1{
        font-size: 300%!important;
    }
    #onas p{
        font-size: 130%!important;
    } */

}
/* 
@media (max-width: 1136px) {
    #kontakt .item{
        margin-bottom: 30px;
        margin-left: 0px;
    }
}

@media (max-width: 511px) {
    #onas h1{
        font-size: 290%!important;
    }
    #onas p{
        font-size: 120%!important;
    }
    
    #onas button {
        width: 120px;
        font-size: 100%!important;
        height: 55px;
    }
}
@media (max-width: 500px) {
    #zrealizowane-projekty h3, p{
        font-size: smaller!important;
    }

}
@media (max-width: 365px){ 
    #zrealizowane-projekty p{
        font-size: 10px;
    }
    #zrealizowane-projekty h3{
        font-size: 15px;
    }
}
@media (max-width: 433px) {
   #onas h1{
        font-size: 270%!important;
    }
}   
@media (max-width: 400px) {
    #onas button {
        width: 100px;
        height: 50px;
    }
} */

@media (min-width: 1064px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
   
}
/* 
@media (max-width: 613px) {
    #onas h1{
        font-size: 280%!important;
    }
    #onas p{
        font-size: 120%!important;
    }
}

@media (max-width: 570px) {
    #onas p{
        font-size: 110%!important;
    }
}

@media (max-width: 1043px) {
    #onas h1{
        font-size:290%!important;
    }
}

@media (max-width: 1005px) {
    #onas h1{
        font-size: 260%!important;
    }
}
@media (max-width: 995px) {
    #onas h1{
        font-size: 250%!important;
    }
    #onas p{
        font-size: 130%!important;
    }
}

@media (max-width: 859px) {
    #onas h1{
        font-size: 230%!important;
    }
    #onas p{
        font-size: 115%!important;
    }
}


@media (max-width: 492px) {
    #onas h1{
        font-size: 230%!important;
    }
    #onas p{
        font-size: 115%!important;
    }
}

@media (max-width: 370px) {
    #onas h1{
        font-size: 170%!important;
    }
    #onas p{
        font-size: 100%!important;
    }
} */
